<%= form_with(model: @property, local: true, url: choose_new_or_edit ) do |f| %>
  <% if @property.errors.any? %>
  <div id="error_explanation">
    <h2><%= @property.errors.count %> 件のエラーがあります。</h2>

    <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <p><%= f.label :物件名 %></p>
    <p><%= f.text_field :property_name %></p>
  </div>

  <div class="field">
    <p><%= f.label :賃料 %></p>
    <p><%= f.text_field :rent %>円</p>
  </div>

  <div class="field">
    <p><%= f.label :住所 %></p>
    <p><%= f.text_field :address %></p>
  </div>

  <div class="field">
    <p><%= f.label :築年数 %></p>
    <p><%= f.text_field :age %>年</p>
  </div>

  <div class="field">
    <p><%= f.label :備考 %></p>
    <p><%= f.text_area :remarks %></p>
  </div>

  <hr>

  <% number = 0 %>
  <%= f.fields_for :nearest_stations do |a| %>
    <h2>最寄り駅<%= number += 1 %></h2>
    <p><%= a.label :路線名 %></p>
    <p><%= a.text_field :route_name %></p>

    <p><%= a.label :駅名 %></p>
    <p><%= a.text_field :station_name %></p>

    <p><%= a.label :徒歩分数 %></p>
    <p><%= a.text_field :walking_minutes %>分</p>
  <% end %>

  <%= f.submit %>
<% end %>

