<h3>下記の内容で登録する</h3>

<%= form_with(model: @property, local: true) do |f| %>
  <%= f.hidden_field :property_name %>
  <%= f.hidden_field :rent %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :age %>
  <%= f.hidden_field :remarks %>

  <p>物件名: <%= @property.property_name %></p>
  <p>賃料: <%= @property.rent %>円</p>
  <p>住所: <%= @property.address %></p>
  <p>築年数 <%= @property.age %>年</p>
  <p>備考 <%= @property.remarks %></p> 

<%= f.fields_for :nearest_stations do |a| %>
  <%= a.hidden_field :route_name %>
  <%= a.hidden_field :station_name %>
  <%= a.hidden_field :walking_minutes %>
<% end %>

<hr>

<% number = 0 %>
<% @property.nearest_stations.each do |s| %>
  <h2>最寄り駅<%= number += 1 %></h2>
  <p>路線名 <%= s.route_name %></P>
  <p>駅名 <%= s.station_name %></P>
  <p>徒歩分数 <%= s.walking_minutes %></P>
<% end %>

<%= f.submit '登録をする' %>
<% end %>

