<p>物件名: <%= @property.property_name %></p>

<p>賃料: <%= @property.rent %></p>

<p>住所: <%= @property.address %></p>

<p>築年数 <%= @property.age %></p>

<p>備考 <%= @property.remarks %></p> 

<hr>

<% number = 0 %>
<% @property.nearest_stations.each do |n| %>
  <h2>最寄り駅<% number += 1%></h2>

  <p>路線名 <% n.route_name %></p>

  <p>駅名 <% n.station_name%></p>

  <p>徒歩分数 <% n.walking_minutes%></p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %>
<%= link_to '戻る', properties_path %>
